<h2>Tela do administrador:</h2>

<ul>
    <li><a href="/admin/pratos-principais">Pratos principais</a></li>
    <li><a href="/admin/sobremesas">Sobremesas</a></li>
    <li><a href="/admin/usuarios">Usuários</a></li>
</ul>