<h2>Sobremesas:</h2>
<hr>

{{#each sobremesas}}
    <div class="card mb-4">
        <div class="card-body">
            <h3>Nome: {{nome}}</h3>
            <p>Descrição: {{descricao}}</p>
            <small>Preço: {{preco}}</small>
        </div>
    </div>
{{else}}

{{/each}}