<h2>Lista de usuários:</h2>
<hr>

<div class="mb-4">
    <a href="/usuarios/registro"><button class="btn btn-success">Criar usuário</button></a>
    <a href="/admin/registro"><button class="btn btn-primary">Criar administrador</button></a>
</div>

{{#each usuarios}} 
    <div class="card mb-4">
        <div class="card-body">
            <h4>Nome: {{nome}}</h4>
            <h5>E-mail: {{email}}</h5>
            <p>Administrador: {{eAdmin}}</p>
        </div>
    </div>
{{else}}
    <h4>Nenhum usuário cadastrado</h4>
{{/each}}